.bottom-div {
  width: 684px;
  height: 30px;
  position: absolute;
  bottom: 10px;
}

.bottom-div span {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

button {
  position: absolute;
  right: 1.5%;
  bottom: 1.5%;
  padding: 4px 12px;
  color: #ffffff;
  background-color: inherit;
  border: solid 2px #00b6ff;
  border-radius: 8px;
  cursor: pointer;
}

button.left{
  left: 1.5%;
}

button.right{
  right: 1.5%;
  bottom: 1.5%;
}